#zoidInput{
    margin: 0 auto;
    text-align: center;
    width: 65%;
    margin-top: 5%;
    border-radius: 15px;
    border-color: darkcyan;
}
h1{
    margin: 0 auto;
    text-align: center;
}
input{
    margin: 0 auto;
    text-align: center;
    width: 45%;
}

button{
    margin: 0 auto;
    text-align: center;
    width: 35%;
    border-radius: 20px;
    margin-bottom: 15px;
    
}